html {
  position: relative;
  min-height: 100%;
}
body {
	background-color:#d9d9d9;
	/* Margin bottom by footer height */
	margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #d9d9d9;
}

.header {
	text-align: center;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 0.8em;
}

.footer p {
	color: #ff1a1a;
	font-weight: bold;
	font-style: italic;
	font-size: 14px;
	margin-left: 3em;
}

h2 {
    font-size: 22px;
}
h2, h3 {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

/*----------------------
Navbar
-------------------------*/

.active {
	background-color: #080808;
}

.nav {
  margin: 0;
}

#navbar_container {
	color: #FFF;
    background-color: #333;
}

#navbar_container div {
	display: inline-block;
}

#navbar li {
	padding: 15px;
	display: inline-block;
}

#navbar a {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 18px;
	text-decoration: none;
	color: #FFF;
}

.nav_header {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 22px;
    margin: 0 0 0 2em;
}