
/* Headers
-------------------------------------------------- */

.heading {
  text-align: center;
}



/* Show/hide elements
-------------------------------------------------- */

.hidden, .container_table {
  display: none;
}

.display_inline {
  display: inline-block;
}


/* Text Format
-------------------------------------------------- */

#select_race {
  margin: 30px 0 10px 0;
  width: 100%;
  display: inline-block;
  text-align: center;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: bold;
  font-size:14px;
}

#race_buttons {
  margin-bottom:20px;
  text-align: center;
}

/* Race List
-------------------------------------------------- */

#raceList {
  display: inline-block;
  margin-left: 9em;
}

#raceList button {
  display: inline-block;
  margin: 0.4em 0.8em;
  font-size:0.9em;
}


/* Tables and Dropdown Menus
-------------------------------------------------- */

#display_races {
  width: 70em;
  height: 25em;
  margin-left: 3em;
  margin-bottom: 8em;
  background-color: #f5f5f5;
}

.race_container {
  overflow: hidden;
}

.race_container > div {
  float: left;
  margin-left: 3em;
}

.buttons_container {
  margin-top: 4.05em;
}

.buttons_container button {
  display: block;
  font-size: 0.9em;
  width: 4.25em;
}

#current_race, #results {
  display: inline-block;
}

#results {
  margin: 2em 0 2em 4em;
}

#current_race {
  margin: 2em 0 2em 11.5em;
}

#current_race .head_row td:nth-child(2) {
  padding-left: 4em;
}

table {
  margin: 0;
  padding: 1em;
  background-color: #f1f2f4;
  border: 1px solid #333;
}

tr:nth-of-type(2n) {
  background-color: #E4E6EA;
} 

.head_row {
  color: #FFF;
  background-color: #002B36;
}

tr td:nth-child(1) {
  width: 10em;
}

td {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: 700;
  padding: 0 1em;

}

.highlight {
  background-color: green;
}

/*dropdown menus*/
.betMenu {
  width: 6em;
  height: 2.5em;
  margin: 0.4em 0.6em;
}

.table_header {
  font-size: 18px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: bold;
  color: #ff1a1a;
  margin: 1.7em 0 0.8em 3em;
}

.table_button {
  margin-left: 5em;
}

.submit_button, .reset_button {
  margin-bottom: 1em;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}


/* Results
-------------------------------------------------- */

.list_width {
  width: 5em;
}

.name_width {
  width: 8em;
}

.inline_block {
  display: inline-block;
}


/* Graphs
-------------------------------------------------- */

.percentage:after {
  content: "";
  display: block;
  height: 3em;
  background-color: #3d9970;
}

.percentage {
  background: repeating-linear-gradient(
    to right,
    #ddd,
    #ddd 1px,
    #fff 1px,
    #fff 5%
  );
}

#graphs {
  margin: 10% 0 0 10%;
}